resume = true

process {
    withName:'renameR1|renameR2|trimR1|trimR2|concatination|renameContigFastaHeader|blastnTopHits|blastHits_concat'      { container = 'quay.io/cybozu/ubuntu:20.04' }
    withName:'revComp'                                                                                                   { container = 'quay.io/biocontainers/bioawk:1.0--he4a0461_9' }
    withName:'alignment'                                                                                                 { container = 'quay.io/staphb/clustalo:1.2.4' }
    withName:'contig'                                                                                                    { container = 'quay.io/biocontainers/emboss:5.0.0--h079770c_4' }
    withName:'blastn|blastIndex'                                                                                         { container = 'quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0' }   
}

singularity {
 enabled = true
 autoMounts = true
 //runOptions = '-e TERM=xterm-256color'
 envWhitelist = 'TERM'
}
