resume = true
trace {
  fields = 'name,hash,status,exit,realtime,submit'
}

profiles {

setonix {
  workDir = "$PWD/work"
  process {
    cache = 'lenient'
    stageInMode = 'symlink'
  }

process {
    withName:'trimR1|trimR2|concatination|renameContigFastaHeader|topBlastHits'          { container = 'quay.io/nf-core/ubuntu:20.04' }
    withName:'revComp|renameR1|renameR2'                                                 { container = 'quay.io/biocontainers/bioawk:1.0--he4a0461_9' }
    withName:alignment                                                                   { container = 'quay.io/staphb/clustalo:1.2.4' }
    withName:contig                                                                      { container = 'quay.io/biocontainers/emboss:5.0.0--h079770c_4' }
    withName:'blastn|blastIndex'                                                         { container = 'quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0' }   
}



singularity {
 enabled = true
 autoMounts = true
 //runOptions = '-e TERM=xterm-256color'
 envWhitelist = 'TERM'
}

params.slurm_account = 'pawsey0792'
  process {
    executor = 'slurm'
    clusterOptions = "--account=${params.slurm_account}"
    queue = 'work'
    cpus = 2
    time = '1h'
    memory = '3GB'
    
    withName: 'renameR1|renameR2|revComp|trimR1|trimR2|concatination|alignment|contig|renameContigFastaHeader|topBlastHits' {
      cpus = 20
      time = '2h'
      memory = '36GB'
    }
    withName: 'blastIndex|blastn' {
      cpus = 100
      time = '12h'
      memory = '180GB'
    }
}
}
}
